
# roles/nginx/templates/nginx.conf.j2
   
    # Server Block Configuration for {{ nginx_server_name }}
server {
    listen {{ nginx_port }};
    listen [::]:{{ nginx_port }};

    server_name {{ nginx_server_name }};

    root /var/www/html;
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }
}
